@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/UltraLight.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/UltraLight.woff) format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/Medium.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/Light.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/Black.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/Black.woff) format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/Bold.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/ExtraBold.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/ExtraBold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url(../../static/fonts/butler-webfont/Butler.woff2) format('woff2'),
			url(../../static/fonts/butler-webfont/Butler.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

